INSTALL
Makefile.in
aclocal.m4
autom4te.cache
*.log
compile
config.*
configure*
depcomp
diskfit-*.tar.*
install-sh
ltmain.sh
m4
missing
Makefile
libtool
.deps/
src/diskfit
*.o
stamp-h1
.libs/
*.lo
*.la
.kdev4/
diskfit.kdev4
diskfit
diskfit.bc
src/mdiskfit
*.gcda
debug/
release/
__pycache__
src/python/qdiskfit.egg-info
src/python/python.kdev4
src/python/build
*.qm
site.json
src/python/qdiskfit/dialogs/profile.py
src/python/qdiskfit/mainwindow/mainwindow.py
