[Desktop Entry]
Categories=Qt;Utility;
Comment[de_DE]=Optimale Belegung von Dateien ermitteln
Comment=Calculate the optimale combination of files
Exec=qdiskfit
GenericName[de_DE]=Graphische Oberfläche zu DiskFit
GenericName=Graphical user interface to DiskFit
Name=QDiskFit
NoDisplay=false
StartupNotify=true
Terminal=0
Type=Application
Icon=qdiskfit
